/* Fonts */
/* 
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
*/
:root {
	--primary-color: #6c63ff;
	--secondary-color: #f9f7fe;
	--heading-font-family: "Playfair Display", serif;
	--default-font-family: "Poppins", sans-serif;
}

body {
	font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: black;
	font-family: var(--heading-font-family);
	font-weight: bold;
}

h1 {
	font-size: 96px;
}

p {
	font-weight: normal;
}

.hero {
	background: var(--secondary-color);
	text-align: center;
	padding: 160px 0;
}

.hero h2 {
	font-family: var(--default-font-family);
	font-weight: normal;
	font-size: 24px;
	line-height: 2;
	color: #272142;
}

.hero p {
	font-size: 36px;
	font-weight: bold;
	margin: 0;
	color: #272142;
}

.btn-branding {
	background: var(--primary-color);
	color: white;
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
	border-radius: 4px;
}

/* 


html,
body {
	overflow-x: hidden;
}
body {
	position: relative;
	background: #1b1b1b;
}

.homepage .hero {
	height: 900px;
	background: center / contain no-repeat url("/src/images/woman-bg-bw-2x.png");
	padding: 300px 20px;
	margin: 0 auto;
}

.homepage .hero h1,
.homepage .hero h2,
.homepage .hero p {
	color: var(--primary-color);
	font-family: var(--primary-font);
	text-align: center;
	vertical-align: top;
}

.hero h1 {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 28px;
	margin-bottom: 25px;
	text-transform: uppercase;
}

.hero h2 {
	font-size: 72px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin-bottom: 25px;
	text-transform: uppercase;
}

.hero p {
	line-height: 30px;
	font-size: 18px;
	padding: 0 80px;
	margin-bottom: 48px;
}

.hero-btn {
	border-radius: 50px;
	color: #272142;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 17px;
	padding: 18px 40px;
	text-transform: uppercase;
	vertical-align: top;
}

.caption {
	padding: 50px 40px;
	font-family: var(--primary-font);
}

.secondary-text {
	color: var(--secondary-color);
	font-size: 18px;
}

.image-container {
	max-width: 1152px;
	margin: 0 auto;
}

@media screen and (max-width: 576px) {
	.hero {
		background: url("/src/images/woman-bg-bw-2x.png");
		background-position: top;
		background-size: contain;
		background-repeat: no-repeat;
		height: 80vh;
	}

	.hero h1 {
		margin-bottom: 5px;
	}

	.hero h2 {
		font-size: 28px;
		margin-bottom: 8px;
	}

	.hero p {
		margin-top: 12px;
	}

	img {
		padding: 10px;
		min-width: 98% vh;
		margin: 0 auto;
	}
} */
